.body{
background-color: black;
}
.button {
     width: 100px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
 }
 .pcenter{
    text-align: center;
 }

 .image {
    width: 70%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
 }